@import "the-new-css-reset/css/reset.css";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";


root {

    --background: #fff;
    --text: #333;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: var(--font-base);
    color: var(--text);
    background: var(--background);
}

[data-theme="dark"] {
    color: var(--text);
    background: var(--background);
    --background: #333;
    --text: #fff;
}