:root{
  --font-family-base: Arial, Helvetica, sans-serif;

  --font-size-base: 16px;
  --font-line-base: 24px;
  --font-base: var(--font-size-base) / var(--font-line-base) var(--font-family-base);


  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-base);

  --navbar-height: 80px;
}