.app[data-theme="dark"] {
  --bg-color: #0e0e74;
  --inverted-bg-color: #cccccc;

  --primary-color: #049604;
  --secondary-color: #10ee04;

  --inverted-primary-color: #032b73;
  --inverted-secondary-color: #043bee;

  --border-color: #a6a2a2;
}