.app[data-theme="light"] {
  --bg-color: #cccccc;
  --inverted-bg-color: #0e0e74;

  --primary-color: #032b73;
  --secondary-color: #043bee;

  --inverted-primary-color: #049604;
  --inverted-secondary-color: #10ee04;

  --border-color: #353333;
}